<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ducks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/* Content inside these XML comments with the Java comments are Thymeleaf comments.
        I'm currently using Thymeleaf for output but not mapping it for input. */-->
</head>
<body>
	<h1>Ducks</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <p>Ducks <a href="/ducktravels">Duck Travel History</a> <a href="/ponds">Ponds</a> </p>
    <form action="/api/ducks/create" id="duckCreator" name="duckCreator"
        <!--/* th:action="@{/duck}" th:object="${duck}" */-->
        method="post">
    	<p>Name: <input type="text" <!--/* th:field="*{name}" */--> name="name" id="name"/></p>
        <p>Tagged: <input type="text" <!--/* th:field="*{tagged}" */--> name="tagged" id="tagged" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="errors" style="color:red"></div>
    <table id="ducks">
        <thead><tr><td>Duck Name</td><td>Tagged</td></tr></thead>
        <tbody></tbody>
    </table>
    <script src="../js/ducks.js" type="module"></script>

</body>
</html>