<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Creating Ducks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/* Content inside these XML comments with the Java comments are Thymeleaf comments.
        I'm currently using Thymeleaf for output but not mapping it for input. */-->
</head>
<body>
	<h1>Ducks</h1>
    <form action="/api/ducks/create" 
        <!--/* th:action="@{/duck}" th:object="${duck}" */--> 
        method="post">
    	<p>Name: <input type="text" <!--/* th:field="*{name}" */--> name="name" id="name"/></p>
        <p>Tagged: <input type="text" <!--/* th:field="*{tagged}" */--> name="tagged" id="tagged" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>