<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ducks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/* Content inside these XML comments with the Java comments are Thymeleaf comments.
        I'm currently using Thymeleaf for output but not mapping it for input. */-->
</head>
<body>
	<h1>Ducks</h1>
    <form action="/api/ducks/create" id="duckCreator" name="duckCreator"
        <!--/* th:action="@{/duck}" th:object="${duck}" */-->
        method="post">
    	<p>Name: <input type="text" <!--/* th:field="*{name}" */--> name="name" id="name"/></p>
        <p>Tagged: <input type="text" <!--/* th:field="*{tagged}" */--> name="tagged" id="tagged" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <div id="errors" style="color:red"></div>
    <table id="ducks">
        <thead><tr><td>Duck Name</td><td>Tagged</td></tr></thead>
        <tbody></tbody>
    </table>
    <script src="js/base.js"></script>
    <script>

    function loadDucks() {
        const duckTable = document.getElementById("ducks");
        const previousRows = duckTable.querySelectorAll('tr');
        Array.prototype.forEach.call(previousRows, function(row) { row.remove(); });
        fetch('/api/ducks')
            .then(response => response.json())
            .then(data => {
                data.forEach(element => {
                    let duckRow = duckTable.insertRow(-1);
                    let duckNameCell = duckRow.insertCell(0);
                    duckNameCell.appendChild(document.createTextNode(element['duck_name']));
                    let duckTaggedCell = duckRow.insertCell(1);
                    duckTaggedCell.appendChild(document.createTextNode(yyyymmdd(new Date(element['tagged']))));
                });
                console.log(data);
            });
    }

    function handleDuckForm() {
        const duckForm = document.getElementById('duckCreator');
        duckForm.addEventListener('submit', function (ev) {
            ev.preventDefault();
            postData(duckForm.action, 'name=' + document.getElementById('name').value
                + '&tagged=' + document.getElementById('tagged').value)
                .then((response) => {
                    if (response['error'] != null && response['message'] != null) {
                        document.getElementById('errors').innerHTML = response['message'].toString().replaceAll('\n', '<br>\n');
                        return;
                    } else {
                        document.getElementById('errors').innerHTML = '';
                    }
                    loadDucks();
                    document.getElementById('duckCreator').reset();
                })
        });
    }

    ready(loadDucks);
    ready(handleDuckForm);
    </script>

</body>
</html>