<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ponds</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Ponds</h1>
    <form id="pondCreator" name="pondCreator" action="/api/ponds/create"
        method="post">
    	<p>Name: <input type="text" name="name" id="name"/></p>
        <p>Location: <input type="text" name="location" id="location" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <table id="ponds">
        <thead><tr><td>Pond Name</td><td>Pond Location</td></tr></thead>
        <tbody></tbody>
    </table>
    <script src="js/base.js"></script>
    <script>

    function loadPonds() {
        const pondTable = document.getElementById("ponds");
        const previousRows = pondTable.querySelectorAll('tr');
        Array.prototype.forEach.call(previousRows, function(row) { row.remove(); });
        fetch('/api/ponds')
            .then(response => response.json())
            .then(data => {
                data.forEach(element => {
                    let pondRow = pondTable.insertRow(-1);
                    let pondNameCell = pondRow.insertCell(0);
                    pondNameCell.appendChild(document.createTextNode(element['pond_name']));
                    let pondLocationCell = pondRow.insertCell(1);
                    pondLocationCell.appendChild(document.createTextNode(element['pond_location']));
                });
                console.log(data);
            });
    }

    function handlePondForm() {
        document.getElementById('pondCreator').addEventListener('submit', function (ev) {
            ev.preventDefault();
            postData('/api/ponds/create', 'name=' + document.getElementById('name').value
                + '&location=' + document.getElementById('location').value)
                .then(() => {
                    loadPonds();
                    document.getElementById('pondCreator').reset();
                })
        });
    }

    ready(loadPonds);
    ready(handlePondForm);
    </script>
</body>
</html>